.modal {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.63);
    width: 100%;
    left: 0;
    right: 0;
    overflow: scroll;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    .form {
        max-width: 710px;
        margin: auto;
        padding: 20px;
        background: #fff;
    }
}