.intro {
	bg-image(cover, left, '../../img/garden.jpg');
	height: 500px;
	.title-section {
		color: #fff;
		
	    font-size: 2rem;
	    color: #fff;
	    margin-bottom: 10px;
	    text-transform: none;
		max-width: 350px;
	}
	p {
		color: #fff;
		max-width: 500px; 
	}
	@media (min-width: sm) {
		background-position: center;
	}
	.form {
	    max-width: 350px;
	    background: rgb(255, 255, 255);
	    padding: 25px 20px;
	    border-top: 5px solid #47a6e0;
	    border-radius: 4px;
	    margin: 0 auto;
	    .label {
	    	font-weight: normal;
	    }
	    .title, p {
		    color: #585858;
		    text-align: center;
		    margin-bottom: 15px;
		    font-size: 18px;
		    text-transform: uppercase;
		    font-weight: bold;
	    }
	    p {
	    	font-size: 12px;
	    }

	    a {
	    	color: #333;
	    	text-align: center;
	    	display: block;
	    }
	}
}

.tab-bottom {
	position: relative;
	margin-bottom: 40px;
	&:after {
		position: absolute;
		content: '';
		width: 40px;
		height: 3px;
		background: color_theme;
		left: 0;
		bottom: -12px;
	}
}

.featured {
	.title-descr {
	    color: #484848;
	    font-size: 30px;
	    font-weight: bold;
	}
	.svg-icons {
	    display: flex;
	    align-items: center;
	    max-width: 500px;
	    margin: 0 auto;
		svg {
			width: 100%;
		    max-width: 90px;
		    margin: 0 auto;
		    position: relative;
		}
		.fa {
			color: color_theme;
			font-size: 24px;
		}
		@media (max-width: max_xs) {
			.fa {
				display: none;
			}
		}
	}
}

.box {
	.fa {
		color: color_theme;
		font-size: 30px;
	}
	&-title {
		color: color_theme;
	    font-size: 22px;
	    font-weight: 600;
	    margin: 10px 0;
	}
	.title-descr {
		margin-bottom: 30px;
	}
	&-item {
		margin-bottom: 40px;
	}
}

.how-works {
	background: color_theme;
	color: #fff;
	h2 {
		margin-bottom: 20px;
	}
	ul {
		max-width: 500px;
		margin: 0 auto;
		li {
			margin-bottom: 10px;
			text-align: left;
			span {
			    width: 40px;
			    height: 40px;
			    border-radius: 50%;
			    border: 2px solid white;
			    display: inline-block;
			    line-height: 36px;
			    margin-right: 10px;
			    font-size: 24px;
			    background: #fff;
			    font-weight: bold;
				text-align: center;
			    color: color_theme;
			}
			p {
				display: inline;
			}
		}
		.li-btn {
			text-align: center;
			margin: 30px 0;
			margin-bottom: 10px;
		}
	}
}

.plan {
	background: #f3f3f3;
	&-item {
		margin-bottom: 20px;
		background: #fff;
		position: relative;
		overflow: hidden;
	    padding: 20px;
	    border-top: 5px solid color_theme;
	    border-radius: 4px;
	    h3 {
	    	color: color_theme;
	    }
	    .value {
	    	font-size: 50px;
	    	span {
	    		font-size: 10px;
	    	}
	    }
	    ul {
	    	text-align: left;
	    	li {
	    		margin-bottom: 10px;
	    		&.no-has {
	    			color: #bdbdbd;
	    		}
	    	}
	    }
	    &.recomendado:after {
			content: 'Recomendado';
			position: absolute;
			background: #2689c5;
			width: 180px;
			height: 25px;
			top: 23px;
			right: -49px;
			line-height: 25px;
			color: #fff;
			transform: rotate(45deg);
			font-size: 12px;
	    }
	}
}