.intro {
	bg-image(cover, left, '../../img/garden.jpg');
	height: 500px;
	.title-section {
		color: #fff;
		font-family: 'Poiret One', cursive;
	    font-size: 2rem;
	    color: #fff;
	    margin-bottom: 10px;
	    text-transform: none;
		max-width: 350px;
	}
	p {
		color: #fff;
		max-width: 500px; 
	}
	@media (min-width: sm) {
		background-position: center;
	}
}

.tab-bottom {
	position: relative;
	margin-bottom: 20px;
	&:after {
		position: absolute;
		content: '';
		width: 40px;
		height: 3px;
		background: color_theme;
		left: 0;
		bottom: -12px;
	}
}

.font-poiret {
	font-family: 'Poiret One', cursive;
}

.featured {
	.title-descr {
	    color: #484848;
	    font-size: 30px;
	    font-weight: bold;
	}
	.svg-icons {
	    display: flex;
	    align-items: center;
	    max-width: 500px;
	    margin: 0 auto;
		svg {
			width: 100%;
		    max-width: 90px;
		    margin: 0 auto;
		    position: relative;
		}
		.fa {
			color: color_theme;
			font-size: 24px;
		}
		@media (max-width: max_xs) {
			.fa {
				display: none;
			}
		}
	}
}

.box {
	.fa {
		color: color_theme;
		font-size: 30px;
	}
	&-title {
		color: color_theme;
	    font-size: 22px;
	    font-weight: 600;
	    margin: 10px 0;
	}
	.title-descr {
		margin-bottom: 30px;
	}
	&-item {
		margin-bottom: 40px;
	}
}

.how-works {
	background: color_theme;
	color: #fff;
	h2 {
		margin-bottom: 20px;
	}
	ul {
		max-width: 500px;
		margin: 0 auto;
		li {
			margin-bottom: 10px;
			text-align: left;
			span {
			    width: 40px;
			    height: 40px;
			    border-radius: 50%;
			    border: 2px solid white;
			    display: inline-block;
			    line-height: 36px;
			    margin-right: 10px;
			    font-size: 24px;
			    background: #fff;
			    font-weight: bold;
				text-align: center;
			    color: color_theme;
			}
			p {
				display: inline;
			}
		}
		.li-btn {
			text-align: center;
			margin: 30px 0;
			margin-bottom: 10px;
		}
	}
}

.try {
	bg-image(cover, top, '../../img/try.jpg');
	h2 {
		color: #fff;
	}
	p {
		font-size: 1.3rem;
		max-width: 700px;
		color: #fff;
		margin: 0 auto 40px auto;
	}
}